* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

.wrapper {
    height: 100vh;
    background-color: #000;
}

.profile-pic {
    background-image: url('../img/profile-black.jpg');
    background-color: #000;
    background-size: cover;
    height: 100vh;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.main {
    z-index: 3;
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 20px;
    color: #fff;
}

.info {
    margin-top: 50px;
    line-height: 1.5;
}

@media screen and (min-width: 992px) {
    .profile-pic {
        width: 50%;
        float: right;
    }
    .main {
        width: 50%;
    }
    #overlay {
        /* display: none; */
        background-color: rgba(0, 0, 0, 0.3);
    }
    .info {
        line-height: 2;
    }
}

.social_icons_home {
    z-index: 3;
    position: absolute;
    bottom: 0%;
    right: 5%;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}

a.github {
    background-image: url('../img/github.svg');
    opacity: 1;
}

a.linkedin {
    background-image: url('../img/linkedin.svg');
    opacity: 1;
}

a.twitter {
    background-image: url('../img/twitter.svg');
    opacity: 1;
}

a.social:hover {
    opacity: 0.5;
}

.social_icons {
    display: flex;
    justify-content: flex-end;
}

.social_icons li {
    list-style-type: none;
    margin-left: 10px;
}